[phases.setup]
nixPkgs = ["python311", "python311Packages.pip"]

[phases.install]
cmds = ["pip install --upgrade pip", "pip install -e ."]

[start]
cmd = "python main.py"

[variables]
PYTHONUNBUFFERED = "1"
